.hater-main-div{
  height: 94vh;
  background: linear-gradient(rgba(0,0,0, .8), rgba(0,0,0, .45)), url("../images/hater.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.hater-whole-card{
  margin: 10px;
}

.hater-whole-card:hover{
  transition: 1s;
  box-shadow: -15px 15px 15px -15px rgba(255, 255, 255, .5);
}

.hater-card-body{
  color: white;
  background-color: black;
  height: 80vh;
}

.hater-card-title, .hater-card-text, .hater-card-links{
  text-align: center;
  text-decoration: none;
  color: white;
}

.hater-card-links{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: 800;
}

.hater-card-links:hover{
  color: red;
}

@media (max-width: 440px){
  .hater-card-text{
    padding: 25px;
  }
}